/* src/App.css */
:root {
  --primary: #17242d; /* Dark background */
  --secondary: #80f5d2; /* Teal accent */
  --accent: #f85640; /* Red accent for alerts */
  --light: #ffffff; /* Light text */
  --dark: #2b383f; /* Darker card background */
  --gray: #bdc2c4; /* Gray for secondary text */
}

body {
  background-color: var(--primary);
  color: var(--light);
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--secondary);
  color: black;
}

details {
  transition: all 0.3s;
}

details[open] summary ~ * {
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

details summary {
  transition: 0.2s;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

details summary::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid white;  /* Right-pointing arrow */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

details[open] summary::before {
  transform: rotate(90deg);  /* Rotate to point down when open */
}

details summary:hover {
  background: rgba(255, 255, 255, 0.15);
}



.overlay {
  animation: fadeIn 0.5s ease-in, fadeOut 1s ease-out 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Adjust the height of the bounce */
  }
  60% {
    transform: translateY(-10px); /* Adjust the height of the bounce */
  }
}

.spinner {
  animation: bounce 1s infinite; /* Adjust duration as needed */
}

.header {
  text-align: center;
  margin: 20px 0;
}

.card {
  background-color: var(--dark); /* Darker card background */
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: var(--secondary); /* Teal color for titles */
  font-size: 1.5em;
}

.card-body {
  color: var(--gray); /* Gray for body text */
}

.read-more-button {
  background-color: var(--secondary); /* Teal color for buttons */
  color: var(--light);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more-button:hover {
  background-color: var(--accent); /* Change to red on hover */
}
